<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Admin{% endblock %}</title>
        <meta name="robots" content="noindex, nofollow">
        <meta name="description" content="{% block meta_description %}Admin description{% endblock %}">
    </head>
    <body>
        <div id="app">

            <main class="main">
                {% block body %}{% endblock %}
            </main>

        </div>
    </body>
</html>
