<!--- Sidemenu -->
<div id="sidebar-menu">
    <!-- Left Menu Start -->
    <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title" key="t-menu">{% trans from 'symfonycms' %}Menu{% endtrans %}</li>

        <li>
            <a href="{{ path('symfony_cms_dashboard') }}" class="waves-effect">
                <i class="bx bx-home-circle"></i>
                <span key="t-dashboards">{% trans from 'symfonycms' %}Dashboard{% endtrans %}</span>
            </a>
        </li>

        <li>
            <a href="{{ path('symfony_cms_pages') }}" class="waves-effect">
                <i class="bx bx-file-blank"></i>
                <span key="t-dashboards">{% trans from 'symfonycms' %}Pages{% endtrans %}</span>
            </a>
        </li>

        {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
            <li class="menu-title" key="t-menu">{% trans from 'symfonycms' %}Administration{% endtrans %}</li>

            <li>
                <a href="{{ path('symfony_cms_users') }}" class="waves-effect">
                    <i class="bx bxs-user-detail"></i>
                    <span key="t-dashboards">{% trans from 'symfonycms' %}Users{% endtrans %}</span>
                </a>
            </li>
        {% endif %}

    </ul>
</div>
<!-- Sidebar -->